:root {
    /* colors */
    --one: #F6D4D3;
    --two: #FFFCF9;
    --three: #D8D0DC;
    --four: #82688D;
    --five: #201A23;
    --lowOpacity: rgba(66, 27, 87, 0.5);
    --lowOpacityBG: rgba(66, 27, 87, 0.7);
    /* other vars general */
    --border: 5px;
    --fontDisplay: "Titillium Web", sans-serif;
    --fontTimes: "Times New Roman", Times, serif;
    --sliderPadding: 10px;
    /* prj container vars */
    --borderRad: 5%;
    --shadowDark: rgba(0, 0, 0, 0.2);
    --shadowLight: rgba(240, 225, 248, 0.166);
    --shadowPx: 20px;
}

#projects-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px; /* Space between items */
    justify-content: space-evenly; /* Align items to the start of the row */
    margin: 0 auto; /* Center the container */
}

.project {
    position: relative;
    width: 300px; /* Fixed width for consistent layout */
    border-radius: var(--borderRad);
    overflow: hidden;
    box-shadow: var(--shadowPx) var(--shadowPx) var(--shadowPx) var(--shadowDark);
    display: flex;
    flex-direction: column; /* Stack image and overlay vertically */
    align-items: center;
}

.projectImage {
    width: 100%; /* Fit the width of the project container */
    aspect-ratio: 1.5;
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; /* Cover the entire project container */
    background-color: var(--lowOpacity);
    color: rgba(255, 255, 255, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    opacity: 0; /* Hide the overlay initially */
    transition: opacity 0.3s ease; /* Smooth transition */
}

.project:hover .overlay {
    opacity: 1; /* Show the overlay on hover */
    color: white;
    font-size: 20px;
    font-family: var(--fontDisplay);
    text-align: center;
    white-space: pre-wrap;
    background-color: var(--lowOpacityBG);
}
