:root {
    /* colors */
    --one: #F6D4D3;
    --two: #FFFCF9;
    --three: #D8D0DC;
    --four: #82688D;
    --five: #201A23;
    --lowOpacity: rgba(66, 27, 87, 0.5);
    --lowOpacityBG: rgba(216, 208, 220, 0.1);
    /* other vars general */
    --border: 5px;
    --fontDisplay: "Titillium Web", sans-serif;
    --fontTimes: "Times New Roman", Times, serif;
    --sliderPadding: 10px;
    /* prj containter vars */
    --borderRad: 5%;
}

.Projects {
    align-items: center;
    padding: 0;
}

.projectContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: var(--borderRad);
    background-color: transparent;
    margin: 10px;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
}

.projectContainer:hover {
    background-color: var(--lowOpacityBG);
}

.projectImage {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2.5%;
}

.projectImage img{
    margin: 5%;
    height: 275px;
    width: auto;
    max-width: 50vw; /* because some pics are rly wide lol */
    aspect-ratio: auto;
    /* padding: 5%; */
    border: 5px ridge var(--one);
}

.projectDesc{
    text-wrap: wrap;
    margin-right: 3%;
}

.projectDesc h2 {
    padding: 0;
    padding-left: 2%;
    margin: 1%;
}

.projectDesc p {
    font-family: var(--fontDisplay);
    color: var(--three);
    padding-left: 2%;
    margin: 1%;
}

@media screen and (max-width: 769px) {
    .projectContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: var(--lowOpacityBG);
    }

    .reverse {
        flex-direction: column-reverse;
    }

    .projectImage img{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 85%;
        height: auto;
    }

    .projectDesc {
        margin: 5%;
        margin-top: 0;
        padding: 5%;
        background-color: var(--lowOpacityBG);
        border-radius: var(--borderRad);
    }
}